<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
    <title><%= result.rows[0].titre %></title>
  </head>

  <body>
    <% include include/header %>
    <h1>Atelier : <%= result.rows[0].titre %></h1>
    <section id="atelier">
      <img src="<%= result.rows[0].image %>" class="img" />
      <p><span class="field">Thème :</span> <%= result.rows[0].theme %></p>
      <p><span class="field">Chef cuisinier encadrant :</span> <a href="/profil.html?id=<%= userchief.rows[0].id %>"><%= userchief.rows[0].prenom %> <%= userchief.rows[0].nom %> </p></a>
      <p><span class="field">Description :</span> <%= result.rows[0].description %></p>
      <p><span class="field">Localisation :</span> <%= result.rows[0].localisation %></p>
      <p><span class="field">Prix :</span> <%= result.rows[0].prix %>€</p>
      <p><span class="field">Date de début :</span> <%= result.rows[0].date_debut %></p>
      <p><span class="field">Date de fin :</span> <%= result.rows[0].date_fin %></p>
    </section>
    <section>
      <form action="/cb.html?titre=<%= result.rows[0].titre %>" method="post">
	<select name="nb" id="nb" required >
	  <option value="1">1</option>
	  <% if (user.premium == true) { %>
	  <option value="2">2</option>
	  <option value="3">3</option>
	  <option value="4">4</option>
	  <% } %>
	  <input type="submit" id="p" name="p" value="Participer" />
      </form></br></br>

      <% if (resultreservation.rowCount) { %>
      <label>Attention toute annulation n'entraîne pas de remboursement</label>
      <form action="/profil.html?titre=<%= result.rows[0].titre%>" method="post">
	<input type="submit" id="ar" name="ar" value="Annuler la participation" />
      </form>
      <% }
	 if (user.role == "admin" || user.role == "respo_atelier") { %>
      <button id="modifier">Modifier</button>
      <section>
	<div id="change" style="display : none">
	  <form action="/admin.html" method="post" >
	    <p>
	      <label for="id">Si vous souhaitez modifier l'atelier, veuillez sélectionner modifier uniquement les cases des informations que vous souhaitez modifier :</label></br>
	      <input type="hidden" name="id" value="<%= result.rows[0].id %>" />

	      <label for="titre">Titre</label>
	      <input type="text" id="titre" name="titre" size="18" placeholder="Titre" value="<%= result.rows[0].titre %>" />
          </br>

          <label for="image">Image</label>
          <input type="text" id="image" name="image" size="18" placeholder="Url de l'image" value="<%= result.rows[0].image %>" />
          </br>
	      
	      <label for="theme">Thème</label>
	      <input type="text" id="theme" name="theme" size="18" placeholder="Thème" value="<%= result.rows[0].theme %>" /></br>

	      <label for="description">Description</label></br>
	      <textarea id="description" name="description" placeholder="Description">
	      </textarea></br>

	      <label for="localisation">Localisation</label>
	      <input type="text" id="localisation" name="localisation" size="18" placeholder="Localisation" value="<%= result.rows[0].localisation %>" /></br>

	      <label for="prix">Prix</label></br>
	      <input type="number" id="prix" name="prix" value="<%= result.rows[0].prix %>" /></br>
	      
	      <label for="date_debut">Date de début</label></br>
	      <input type="date" id="date_debut" name="date_debut"/></br>
	      
	      <label for="date_fin">Date de fin</label></br>
	      <input type="date" id="date_fin" name="date_fin"/></br>
	      
	      <input type="submit" id="ma" name="ma" value="Valider Modification Atelier" />	      
	    </p>
	  </form>
	</div>
	<script>
	  document.querySelector("#modifier").onclick = function() {
	  if (window.getComputedStyle(document.querySelector('#change')).display=='none'){
	  document.querySelector("#change").style.display="block";
	  } else {
	  document.querySelector("#change").style.display="none";
	  }
	  }
	</script></br>

	<button id="supprimer">Supprimer</button>
	<div id="delete" style="display : none">
	  <form action="/admin.html" method="post">
	    <p>
	      <input type="hidden" name="id" value="<%= result.rows[0].id %>" />
	      <input type="submit" id="sa" name="sa" value="Valider Suppresion Atelier" />
	    </p>
	  </form>
	</div>
	<script>
	  document.querySelector("#supprimer").onclick = function() {
	  if (window.getComputedStyle(document.querySelector('#delete')).display=='none'){
	  document.querySelector("#delete").style.display="block";
	  } else {
	  document.querySelector("#delete").style.display="none";
	  }
	  }
	</script>
      </section></br></br></br></br>
      <% } %>
      
      <section>
       <h1>Commentaires :</h1>
       <% for (var i = 0; i < resultcommentaire.rows.length; i++) { %>
       <div class="com">
            <div class="com_msg">
            <p><%= resultcommentaire.rows[i].contenu %><p>
            </div>
            <% for (var j = 0; j < resultuser.rows.length; j++) {
            if (resultcommentaire.rows[i].auteur == resultuser.rows[j].id) {
            %>
            <div class="com_info">
            <p><span class="field">Posté par :</span> <%= resultuser.rows[j].prenom %> <%= resultuser.rows[j].nom %></p>
            <% } } %>
            <p><span class="field">le :</span> <%= resultcommentaire.rows[i].date_post %></p>
            </div>
         </div>
       <%
               }
                       %>
	   <form action="/ateliers.html?id=<%= result.rows[0].id %>" method="post">
	     <textarea id="commentaire" name="commentaire" >
	     </textarea></br>
	     
	     <input type="submit" id="pc" name="pc" value="Poster un commentaire" />
	   </form>
      </section>
      <% include include/footer %>   
  </body>
  
</html>
