<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
    <title>Ateliers</title>
  </head>

  <body>
    <% include include/header %>
    <h1>Ateliers :</h1>
    <section>
      <table>
	<tr>
	  <th>ID</th>
	  <th>Titre</th>
	  <th>Chef Cuisiner</th>
	  <th>Prix</th>
	</tr>
	<%
	   for(var i = 0 ; i < result.rows.length ; i++) {
			       %>
	   <tr>
	     <td><%= result.rows[i].id %></td>
	     <td><a href="/atelier.html?titre=<%= result.rows[i].titre %>"><%= result.rows[i].titre %></a></td>
	     <%
		for (var j = 0; j < resultuser.rows.length; j++) {
				    if (resultuser.rows[j].id == result.rows[i].chef) {
				    %>
		<td><%= resultuser.rows[j].prenom %> <%= resultuser.rows[j].nom %></td>
		<%
		   }
		   }
		   %>
	     <td><%= result.rows[i].prix %>€</td>
	    
	   </tr>
	   <%
	      }
	      %>
      </table>
    </section>
    <p>Pour plus d'informations concernant un atelier en particulier, veuillez cliquer sur le titre de ce dernier.</p>
    </br>
    </br>
    <section>
      <%
	 if (user.role == "admin" || user.role == "respo_atelier") {
	 %>
      <form action="/addatelier.html" method="get" >
	<input type="submit" value="Ajouter un atelier" >
      </form>
      </br>
      
      <button id="modifier">Modifier</button>
      <section>
	<div id="change" style="display : none">
	  <form action="/admin.html" method="post" >
	    <p>
	      <label for="id">Si vous souhaitez modifier un atelier, veuillez sélectionner l'id correspondant et ne remplir uniquement les cases des informations que vous voulez modifier :</label></br>
	      <select name="id" id="id" required >
		<%
		   for(var i = 0 ; i < result.rows.length ; i++) {
				       %>
		   <option value="<%= result.rows[i].id %>"><%= result.rows[i].id %></option>
		   <%
		      }
		      %>
	      </select>
              </br>
              </br>
				      
	      <label for="titre">Titre</label>
	      <input type="text" id="titre" name="titre" size="18" placeholder="Titre" />
              </br>

	      <label for="theme">Thème</label>
	      <input type="text" id="theme" name="theme" size="18" placeholder="Thème" />
              </br>

	      <label for="description">Description</label></br>
	      <textarea id="description" name="description" placeholder="Description">
	      </textarea>
              </br>

	      <label for="localisation">Localisation</label>
	      <input type="text" id="localisation" name="localisation" size="18" placeholder="Localisation" />
              </br>

	      <label for="prix">Prix</label></br>
	      <input type="number" id="prix" name="prix" />
              </br>
	      
	      <label for="date_debut">Date de début</label></br>
	      <input type="date" id="date_debut" name="date_debut" />
              </br>

	      <label for="date_fin">Date de fin</label></br>
	      <input type="date" id="date_fin" name="date_fin" />
              </br>

	      <input type="submit" id="ma" name="ma" value="Valider Modification Atelier" />

	    </p>
	  </form>
	</div>
	<script>
	  document.querySelector("#modifier").onclick = function() {
	  if (window.getComputedStyle(document.querySelector('#change')).display=='none'){
	  document.querySelector("#change").style.display="block";
	  } else {
	  document.querySelector("#change").style.display="none";
	  }
	  }
	</script>
	</br>
	<button id="supprimer">Supprimer</button>
	<div id="delete" style="display : none">
	  <form action="/admin.html" method="post">
	    <p>
	      <label for="id">Si vous souhaitez supprimer un atelier, veuillez sélectionner l'id correspondant :</label></br>
	      <select id="id" name="id" required >
	      <%		  
		 for(var i = 0 ; i < result.rows.length ; i++) {
				     %>
		 <option value="<%= result.rows[i].id %>"><%= result.rows[i].id %></option>
		 <%
		    }
		    %>
	      </select>
	      <input type="submit" id="sa" name="sa" value="Valider Suppresion Atelier" />
	    </p>
	  </form>
	</div>
	<script>
	  document.querySelector("#supprimer").onclick = function() {
	  if (window.getComputedStyle(document.querySelector('#delete')).display=='none'){
	  document.querySelector("#delete").style.display="block";
	  } else {
	  document.querySelector("#delete").style.display="none";
	  }
	  }
	</script>
	<%
	   }
	   %>

      	
      </section>
      <% include include/footer %>
  </body>
</html>
