<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Admin</title>
  </head>

  <body>
    <% include include/header %>
    <h1>Profil : <%= user.prenom %></h1>
    <section>
      <table>
	<tr>
	  <th>ID</th>
	  <th>Rôle</th>
	  <th>Prenium</th>
	  <th>Nom</th>
	  <th>Prénom</th>
	  <th>Adresse Postale</th>
	  <th>Mail</th>
	  <th>Date d'inscription</th>
	</tr>
	<%
	   for(var i = 0 ; i < result.rows.length ; i++) {
			       %>
	   <tr>
	     <td><%= result.rows[i].id %></td>
	     <td><%= result.rows[i].role %></td>
	     <td><%= result.rows[i].prenium %></td>
	     <td><%= result.rows[i].nom %></td>
	     <td><%= result.rows[i].prenom %></td>
	     <td><%= result.rows[i].adresse_postale %>, <%= result.rows[i].code_postal %> <%= result.rows[i].ville %></td>
	     <td><%= result.rows[i].mail %></td>
	     <td><%= result.rows[i].date_inscrit %></td>
	   </tr>
	  <%
	     }
	     %>
      </table>
      <button id="modifier">Modifier</button>
      <div id="change" style="display : none">
	<form action="/admin.html" method="post">
	  <p>
	    <label for="id">Si vous souhaitez modifier une(des) information(s) concernant un utilisateur, veuillez entrer l'id de l'utilisateur en question et ne remplir uniquement les cases des informations dont vous voulez modifier :</label></br>
	    <input type="number" id="id" name="id" size="8" />
	  </br>
	  </br>
	  
	  <label for="role">Rôle</label></br>
	  <select name="role" id="role">
	    <option value="user">Utilisateur</option>
	    <option value="admin">Administrateur</option>
	    <option value="respo_user">Responsable utilisateur</option>
	    <option value="respo_atelier">Responsable atelier</option>
	    <option value="chef_cuisinier">Chef cuisinier</option>
	  </select>
          </br>
	  
	  <label for="mail">Adresse Mail</label></br>
	  <input type="email" id="mail" name="mail" placeholder="Adresse Mail" />
          </br>
	  </br>
	  
	  <label for="prenom">Prénom</label>
	  <input type="text" id="prenom" name="prenom" size="18" placeholder="Prénom" />
	  
	  <label for="nom">Nom</label>
	  <input type="text" id="nom" name="nom" size="18" placeholder="Nom" />
          </br>
	  
	  <label for="adresse">Adresse</label></br>
	  <input type="text" id="adresse" name="adresse" size="45" placeholder="Adresse" /></br>
	  
	  <input type="text" id="address_cmpl" name="address_cmpl" size="65" placeholder="Complément de l'adresse" /></br>
	  
	  <input type="text" id="cp" name="cp" maxlength="5" placeholder="Code Postal" />
	  <input type="text" id="ville" name="ville" placeholder="Ville" /></br>
	  
          </br>
	  <input type="submit" id="mu" name="mu" value="Valider Modification Utilisateur" />

	  </p>
	</form>
	
      </div>
      <script>
	document.querySelector("#modifier").onclick = function() {
	if (window.getComputedStyle(document.querySelector('#change')).display=='none'){
	document.querySelector("#change").style.display="block";
	} else {
	document.querySelector("#change").style.display="none";
	}
	}
      </script>
      </br>
      <button id="supprimer">Supprimer</button>
      <div id="delete" style="display : none">
	<form action="/admin.html" method="post">
	  <p>
	    <label for="id">Si vous souhaitez supprimer un utilisateur, veuillez sélectionner l'id correspondant :</label></br>
	    <input type="number" id="id" name="id" size="8" />
	  </br>
	  </br>
	  <input type="submit" id="su" name="su" value="Valider Suppresion Utilisateur" />
	  
	  </p>
	</form>
	</div>
      <script>
	document.querySelector("#supprimer").onclick = function() {
	if (window.getComputedStyle(document.querySelector('#delete')).display=='none'){
	document.querySelector("#delete").style.display="block";
	} else {
	document.querySelector("#delete").style.display="none";
	}
	}
      </script>
      
    </section>
  </body>

</html>
