<!DOCTYPE html>
<html>
    <head>
        <% include include/head %>
        <title>YaKasserole</title>
    </head>

    <body>
        <% include include/header %>
        <div id="accueil">
            <div id="prez">
                <a id="goto_inscription" href="/inscription.html">
                    Rapide</br>et</br>gratuit</br>
                    <span>S'inscrire maintenant</span>
                </a>

                <a id="premium" href="">
                    <h2>PREMIUM</h2>
                        Abonnement</br>
                        <div class="prem_block"><span class="big">10%</span></br>de reduction</div>
                    <div class="prem_block">Ateliers jusque</br><span class="big">4</span></br>personnes</div>
                </a>

                <h2>Qui sommes-nous ?</h2>
                <p>
                    YaKasserole propose des ateliers cuisine. Inscrivez-vous et reservez en ligne pour apprendre la cuisine.</br>
                    Devenez un as de la cuisine et impressionez votre famille et vos amis !
                </p>

                <div id="buttons">
                    <a class="button" id="button1" href="">Nos recettes</a>
                    <a class="button" id="button2" href="">Nos ateliers</a>
                    <a class="button" id="button3" href="">Les chefs</a>
                </div>
            </div>

            <div class="title_block">
                <h2>Dernieres Recettes</h2>
                <% if (!recettes.rows.length) { %>
                <p>Aucune recette</p>
                <% } else { %>
                <ul>
                    <% for (i = 0; i < recettes.rows.length; i++) { %>
                    <li>
                        <a href="">
                            <img src="resources/recette.png" />
                            <div class="description">
                                <h3><%= recettes.rows[i].titre %></h3>
                                <%= recettes.rows[i].type %></br>
                                Difficulte : <%= recettes.rows[i].difficulte %> / 5
                            </div>
                        </a>
                    </li>
                    <% } %>
                </ul>
                <a href="">Voir toutes</a>
                <% } %>
            </div>
            <div class="title_block">
                <h2>Prochains Ateliers</h2>
                <% if (!ateliers.rows.length) { %>
                <p>Aucun atelier</p>
                <% } else { %>
                <ul>
                    <% for (i = 0; i < ateliers.rows.length; i++) { %>
                    <li>
                        <a href="">
                            <img src="resources/chinois.png" />
                            <div class="description">
                                <h3><%= ateliers.rows[i].titre %></h3>
                                <%= ateliers.rows[i].theme %>
                                Situe a : <%= ateliers.rows[i].localisation %>
                            </div>
                        </a>
                    </li>
                    <% } %>
                </ul>
                <a href="">Voir tous</a>
                <% } %>
            </div>
        </div>
        <% include include/footer %>
    </body>
</html>
