<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
    <title><%= user.prenom %> <%= user.nom %></title>
  </head>

  <body>
    <% include include/header %>
    <h1>Votre profil</h1>
    <section id="profil_page">
      <% if (row.image) { %>
        <img src="<%= row.image %>" id="profil_img"/>
      <% } else { %>
        <img src="resources/user.png" id="profil_img"/>
      <% } %>
      <p><span class="field">Prénom :</span> <%= row.prenom %>
      <p><span class="field">Nom :</span> <%= row.nom %></p>
      <p><span class="field">Adresse Postale :</span> <%= row.adresse_postale %> <%= row.code_postal %> <%= row.ville %> </p>
      <p><span class="field">Adresse Mail :</span> <%= row.mail %> </p>
      <p><span class="field">Rôle :</span> <%= row.role %> </p>
      </br>
      <% if (user.id == row.id) {
	 if (row.premium == true) { %>
      <section>
	<p>Les avantages du premium sont :</br>
	  - Possibilité d'inviter jusqu'à 4 personnes pour participer à un atelier.</br>
	  - Une réduction de 10% lors de la participation à un atelier.</p>
	<form action="/connexion.html" method="post" class="just_button">
	  <input type="submit" id="anp" name="anp" value="Annuler votre abonnement premium" >
	</form>
      </section>
      <% }
	 if (row.premium == false) { %>
      <section>
	<p>Les avantages du premium sont :</br>
	  - Possibilité d'inviter jusqu'à 4 personnes pour participer à un atelier.</br>
	  - Une réduction de 10% lors de la participation à un atelier.</p>
	<form action="/cb.html?premium=non" method="post" class="just_button">
	  <input type="submit" value="Prendre un abonnement premium" >
	</form>
      </section></br>
      <% } } %>
     

      <div class="title_block">
        <h2>Prochains Ateliers</h2>
        <% if (!resultatelier.rows.length) { %>
        <p>Aucun atelier</p>
        <% } else { %>
        <ul>
            <% for (i = 0; i < resultatelier.rows.length; i++) { %>
            <li>
                <a href="/atelier.html?titre=<%= resultatelier.rows[i].titre %>">
                <% if (resultatelier.rows[i].image == null) { %>
                <img src="resources/chinois.png" />
                <% } else { %>
                <img src="<%= resultatelier.rows[i].image %>" />
                <% } %>

                <div class="description">
                <h3><%= resultatelier.rows[i].titre %></h3>
                <%= resultatelier.rows[i].theme %>
                Situe a : <%= resultatelier.rows[i].localisation %>
                </div>
                </a>
            </li>
            <% } %>
        </ul>
        <% } %>
      </div>
     
      <div class="title_block">
        <h2>Recettes de <%= row.prenom %></h2>
        <% if (! resultrecette.rows.length) { %>
        <p>Aucune recette</p>
        <% } else { %>
        <ul>
            <% for (i = 0; i < resultrecette.rows.length; i++) { %>
                <li>
                    <a href="/recette.html?titre=<%= resultrecette.rows[i].titre %>">
                        <% if (resultrecette.rows[i].image == null) { %>
                        <img src="resources/recette.png" />
                        <% } else { %>
                        <img src="<%= resultrecette.rows[i].image %>" />
                        <% } %>

                        <div class="description">
                        <h3><%= resultrecette.rows[i].titre %></h3>
                        <%= resultrecette.rows[i].type %></br>
                        <% for (j = 0; j < resultrecette.rows[i].difficulte; j++) { %>
                        <img src="resources/spatula.png" class="star"/>
                        <% } %>
                        </div>
                    </a>
                </li>
            <% } %>
        </ul>
        <% } %>
     </div>

      <% if (user.id == row.id) { %>
      <button id="modifier">Modifier</button>
      <div id="change" style="display : none">
	<form action="/admin.html" method="post" >
	  <p>

        <input type="hidden" name="id" value="<%= user.id %>">
	    
	    <label for="mail">Adresse Mail</label></br>
	    <input type="email" id="mail" name="mail" placeholder="Adresse Mail" /></br>
	    
	    <label for="mdp">Mot de Passe</label></br>
	    <input type="password" id="mdp" name="mdp" placeholder="Mot de Passe"  /></br></br></br>

         <label for="image">Image</label>
          <input type="text" id="image" name="image" size="18" placeholder="Url de l'image"  /></br></br>
	    
	    <label for="prenom">Prénom</label>
	    <input type="text" id="prenom" name="prenom" size="18" placeholder="Prenom"  />

	    <label for="nom">Nom</label>
	    <input type="text" id="nom" name="nom" size="18" placeholder="Nom"  /></br>

	    <label for="adresse">Adresse</label></br>
	    <input type="text" id="adresse" name="adresse" size="45" placeholder="Adresse" /></br>

	    <input type="text" id="address_cmpl" name="address_cmpl" size="65" placeholder="Complément de l'adresse" /></br>

	    <input type="text" id="cp" name="cp" maxlength="5" placeholder="Code Postal"  />
	    <input type="text" id="ville" name="ville" placeholder="Ville" /></br></br>
	    
	    <input type="submit" id="mu" name="mu" value="Valider Modification" />

	  </p>
	</form>
      </div>
      <script>
	document.querySelector("#modifier").onclick = function() {
	if (window.getComputedStyle(document.querySelector('#change')).display=='none'){
	document.querySelector("#change").style.display="block";
	} else {
	document.querySelector("#change").style.display="none";
	}
	}
      </script>
      
      <% } %>
    </section>
    <% include include/footer %>
  </body>

</html>
