<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
    <title><%= result.rows[0].titre %></title>
  </head>

  <body>
    <% include include/header %>
    <h1>Recette : <%= result.rows[0].titre %></h1>
    <section id="recette">
      <img src="<%= result.rows[0].image %>" class="img" />
      <p><span class="field">Auteur :</span> <%= resultauteur.rows[0].prenom %> <%= resultauteur.rows[0].nom %></p>
      <p><span class="field">Type :</span> <%= result.rows[0].type %></p>
      <p>
      <% for (j = 0; j < result.rows[0].difficulte; j++) { %>
        <img src="resources/spatula.png" class="star"/>
      <% } %>
      </p>
      <p><span class="field">Ingrédients :</span> <%= result.rows[0].ingredients %></p>
      <p><span class="field">Description :</span> <%= result.rows[0].description %></p>	    
      <p class="date">Posté le : <%= result.rows[0].date_post %></p>
    </section>

    <% if (user.id == result.rows[0].auteur || user.role == "admin") { %>
    
    <button id="modifier">Modifier</button>

    <div id="change" style="display : none">
      <form action="/admin.html" method="post">
	<p>
	  Si vous souhaitez modifier une recette, veuillez sélectionner l'id correspondant et ne remplir uniquement les cases des informations que vous voulez modifier :</label></br>
      <input type="hidden" name="id" value="<%= result.rows[0].id %>">
	  </br>

	  <label for="titre">Titre</label>
	  <input type="text" id="titre" name="titre" size="18" placeholder="Titre" value="<%= result.rows[0].titre %>" />
	  
	  <label for="type">Type</label>
	  <input type="text" id="type" name="type" size="18" placeholder="Type" value="<%= result.rows[0].type %>" />
      </br>

      <label for="image">Image</label>
      <input type="text" id="image" name="image" size="18" placeholder="Url de l'image" value="<%= result.rows[0].image %>" />
      </br>

	  <label for="ingredients">Ingrédient(s)</label></br>
	  <label>Veuillez entrer les ingrédients que comporte votre recette sous le format suivant :</br>
	    Ex :</br>
	    Farine, 75g</br>
	    Sel, 2g
	  </label></br>
	  <textarea id="ingredients" name="ingredients" placeholder="Ingrédient(s)" value="<%= result.rows[0].ingredients %>" >
	  </textarea>
          </br>

	  <label for="description">Description</label></br>
	  <textarea id="description" name="description" placeholder="Description" value="<%= result.rows[0].description %>"  >
	  </textarea>
          </br>

	  <label for="difficulte">Difficultée</label></br>
	  <input type="number" id="difficulte" name="difficulte" min="1" max="5" value="<%= result.rows[0].difficulte %>" />
          </br>
	  
	  <input type="submit" id="mr" name="mr" value="Valider Modification Recette" />
	</p>
      </form>
    </div>
    <script>
      document.querySelector("#modifier").onclick = function() {
      if (window.getComputedStyle(document.querySelector('#change')).display=='none'){
      document.querySelector("#change").style.display="block";
      } else {
      document.querySelector("#change").style.display="none";
      }
      }
    </script>
    <button id="supprimer">Supprimer</button>
    <div id="delete" style="display : none">
      <form action="/admin.html" method="post">
	<p>
	 <input type="hidden" name="id" value="<%= result.rows[0].id %>" />
	  </br>
	  </br>
	  <input type="submit" id="sr" name="sr" value="Valider Suppresion Recette" />

	</p>
      </form>
    </div>
    <script>
      document.querySelector("#supprimer").onclick = function() {
      if (window.getComputedStyle(document.querySelector('#delete')).display=='none'){
      document.querySelector("#delete").style.display="block";
      } else {
      document.querySelector("#delete").style.display="none";
      }
      }
    </script>
    </br>
    </br>
    </br>
    </br>
    <%
       }
       %>
    <section>
      <h1>Commentaires :</h1>
      <%
	 for (var i = 0; i < resultcommentaire.rows.length; i++) {
			     %>
     <div class="com">
        <div class="com_msg">
	 <p><%= resultcommentaire.rows[i].contenu %><p>
        </div>
	   <% for (var j = 0; j < resultuser.rows.length; j++) {
				  if (resultcommentaire.rows[i].auteur == resultuser.rows[j].id) {
				  %>
         <div class="com_info">
	      <p><span class="field">Posté par :</span> <%= resultuser.rows[j].prenom %> <%= resultuser.rows[j].nom %></p>
	      <% } } %>
	      <p><span class="field">le :</span> <%= resultcommentaire.rows[i].date_post %></p>
          </div>
      </div>
	 <%
	    }
	    %>
	 <form action="/recettes.html?id=<%= result.rows[0].id %>" method="post">	   
	   <textarea id="commentaire" name="commentaire" >
	   </textarea>
	   </br>
	   
	   <input type="submit" id="pc" name="pc" value="Poster un commentaire" />	 
	 </form>
    </section>
    <% include include/footer %>
  </body>

</html>
