<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
    <title>Recettes</title>
  </head>

  <body>
    <% include include/header %>
    <h1>Les Recettes</h1>
    <section>
    <div class="list">
    <% if (result.rows.length == 0) { %>
        <p>Aucune recette</p>
    <% } else { %>
    <ul>
	<% for(var i = 0 ; i < result.rows.length ; i++) { %>
        <li>
            <a href="/recette.html?titre=<%= result.rows[i].titre %>">
                <% if (result.rows[i].image == null) { %>
                <img src="resources/recette.png" />
                <% } else { %>
                <img src="<%= result.rows[i].image %>" />
                <% } %>
                <div class="description">
                    <h3><%= result.rows[i].titre %></h3>
                    <%= result.rows[i].type %></br>
                    Difficulte : <%= result.rows[i].difficulte %> / 5</br>
                
                    Par :  
	            <% for (var j = 0; j < resultuser.rows.length; j++) {
				    if (resultuser.rows[j].id == result.rows[i].auteur) { %>
		            <%= resultuser.rows[j].prenom %> <%= resultuser.rows[j].nom %>
		        <% } } %>
                </div>
            </a>
        </li>
    <% } %>
    </ul>
    <% } %>
    </div>
      
      <% if (user.role == "user" || user.role == "admin" || user.role == "respo_user") {
	 %>
      <form action="/addrecette.html" method="get" >
	<input type="submit" value="Ajouter une recette" >
      </form>
      </br>
			 
      <button id="modifier">Modifier</button>
      <div id="change" style="display : none">
	<form action="/admin.html" method="post">
	  <p>
	    <label for="id">Si vous souhaitez modifier une recette, veuillez sélectionner l'id correspondant et ne remplir uniquement les cases des informations que vous voulez modifier :</label></br>
	    <select name="id" id="id" required>
	      <%
		 if (user.role == "user") {
		 for(var i = 0 ; i < result.rows.length ; i++) {
				     if (userid.id == result.rows[i].auteur) {
				     %>
		 <option value="<%= result.rows[i].id %>"><%= result.rows[i].id %></option>
		 <%
		    }
		    }
		    }
		    else {
		    for(var i = 0 ; i < result.rows.length ; i++) {
					%>
		    <option value="<%= result.rows[i].id %>"><%= result.rows[i].id %></option>
		    <%
		       }
		       }
		    %>
	    </select>
            </br>
	    </br>

	    <label for="titre">Titre</label>
	    <input type="text" id="titre" name="titre" size="18" placeholder="Titre" />

	    <label for="type">Type</label>
	    <input type="text" id="type" name="type" size="18" placeholder="Type" />
        </br>

        <label for="image">Image</label>
        <input type="text" id="image" name="image" size="18" placeholder="Url de l'image" />
        </br>

	    <label for="ingredients">Ingrédient(s)</label></br>
	    <label>Veuillez entrer les ingrédients que comporte votre recette sous le format suivant :</br>
	      Ex :</br>
	      Farine, 75g</br>
	      Sel, 2g
	    </label></br>
	    <textarea id="ingredients" name="ingredients" placeholder="Ingrédient(s)" >
	    </textarea>
	    </br>
	    

	    <label for="description">Description</label></br>
	    <textarea id="description" name="description" placeholder="Description"  >
	    </textarea>
            </br>
	    
	    <label for="difficulte">Difficultée</label></br>
	    <input type="number" id="difficulte" name="difficulte" min="1" max="5" />
            </br>
	
	    <input type="submit" id="mr" name="mr" value="Valider Modification Recette" />
    
	  </p>
	</form>
      </div>
      <script>
	document.querySelector("#modifier").onclick = function() {
	if (window.getComputedStyle(document.querySelector('#change')).display=='none'){
	document.querySelector("#change").style.display="block";
	} else {
	document.querySelector("#change").style.display="none";
	}
	}
      </script>


      </br>
      </br>
      <button id="supprimer">Supprimer</button>
      <div id="delete" style="display : none">
	<form action="/admin.html" method="post">
	  <p>
	    <label for="id">Si vous souhaitez supprimer une recette, veuillez sélectionner l'id correspondant :</label></br>
	    <select name="id" id="id" required >
	      <%
		 if (user.role == "user") {
		 for(var i = 0 ; i < result.rows.length ; i++) {
				     if (userid.id == result.rows[i].auteur) {
				     %>
		 <option value="<%= result.rows[i].id %>"><%= result.rows[i].id %></option>
		 <%
		    }
		    }
		    }
		    else {
		    for(var i = 0 ; i < result.rows.length ; i++) {
					%>
		    <option value="<%= result.rows[i].id %>"><%= result.rows[i].id %></option>
		    <%
		       }
		       }
		       %>
	    </select>
	    </br>
	    </br>
	    <input type="submit" id="sr" name="sr" value="Valider Suppresion Recette" />
	    
	  </p>
	</form>
      </div>
      <script>
	document.querySelector("#supprimer").onclick = function() {
	if (window.getComputedStyle(document.querySelector('#delete')).display=='none'){
	document.querySelector("#delete").style.display="block";
	} else {
	document.querySelector("#delete").style.display="none";
	}
	}
      </script>

    </section>
    <%
       }
       %>
    <% include include/footer %>
  </body>

</html>
