<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= result.rows[0].titre %></title>
  </head>

  <body>
    <% include include/header %>
    <h1>Recette : <%= result.rows[0].titre %></h1>
    <section>
      <p>Type : <%= result.rows[0].type %></p>
      <p>Description : <%= result.rows[0].description %></p>
      <p>Difficulté : <%= result.rows[0].difficulte %></p>
     </section>
  </body>

</html>
